<!doctype html>
<html>
<head>
<title>blog title</title>
<style>
h1 {
	text-decoration: underline;
	margin-bottom: 1.5em;
}
h1 a, h1 a:visited {
	color: #000;
}
body {
	font-family: courier new, sans-serif;
	padding: 3%;
}
article {
	margin-bottom: 2em;
	width: 65%;
}
@media (max-aspect-ratio:4/3) {
	article {
		width: 97%;
	}
}
</style>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<h1><a href="/">blog title</a></h1>
<article>
